body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(1, 1, 24); /* Negro más oscuro */
    font-family: 'Arial', sans-serif;
    flex-direction: column;
}

#contenedor {
    background-color: rgb(37, 37, 66); /* Gris oscuro */
    color: #fff; /* Texto blanco */
    width: 70%;
    height: 70vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    box-sizing: border-box;
    animation: fadeIn 0.8s ease-in-out;
    border: 5px solid blue;
}

h1 {
    font-size: 2.5em;
    background-color: rgb(25, 25, 35); /* Gris oscuro más suave */
    padding: 15px;
    width: 100%;
    margin: 0;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff; /* Texto blanco */
}

label {
    display: block;
    margin: 15px 0 8px;
    font-size: 1.1em;
    color: #787676; /* Gris medio */
}

input {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    border: 1px solid #333; /* Borde gris oscuro */
    border-radius: 5px;
    color: black; /* Texto blanco */
}
input:hover{
    border: 3px solid blue;
    box-shadow: 1px 1px 5px 2px blue;

}
input:active{
    border: 5px solid blue;
}

button {
    padding: 14px 28px;
    background-color: blue; /* Azul más fuerte */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

button:hover {
    background-color: rgb(2, 2, 126); /* Azul más oscuro al hacer hover */
    border: 2px solid rgb(0, 102, 255);
    transform: scale(1.05);
}
button:active{
    background-color: rgb(8, 118, 235);
    transform: scale(0.90);
    border: 3px solid  rgb(2, 2, 126); ;
}

#tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.columna {
    font-size: 1.1em;
    text-align: center;
    padding: 12px;
    background-color: #333; /* Gris oscuro */
    color: #fff; /* Texto blanco */
}
#resultado{
    color: #787676;
    background-color: transparent;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #787676;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; /* Opcional: Ajusta el relleno según tus necesidades */
}