body{
    background-color: rgb(50, 0, 50);
    color: white;
    font-size: 25px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0px;
    background-color: black;
    color: white;
    font-size: 15px;
}

th,
td {
    border: 1px solid fuchsia;
    padding: 8px;
    text-align: left;
}

th {
    background-color: purple;
}

.columna1 {
    width: 5%;
}

.columna2 {
    width: 10%;
}

.columna3 {
    width: 10%;
}

.columna4 {
    width: 15%;
}

.columna5 {
    width: 10%;
}


.columna6,
.columna7 {
    width: 10%;
}

.columna8 {
    width: 15%;
}




button {
    padding: 14px 28px;
    background-color: rgb(191, 4, 191); /* Azul más fuerte */
    color: white;
    border: 5px solid purple;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

button:hover {
    background-color: purple; /* Azul más oscuro al hacer hover */
    border: 2px solid rgb(191, 4, 191);
    transform: scale(1.05);
}
button:active{
    background-color: pink;
    transform: scale(0.90);
    border: 3px solid  fuchsia; ;
}